.fa-map-marker-alt:before {
    content: "\f3c5";
}

.fa-calendar-alt:before {
    content: "\f073";
}
.fa-search:before {
    content: "\f002";
}
.fa{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
}
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    src: url("../font/webfonts/fa-regular-400.eot");
    src: url("../font/webfonts/fa-regular-400.eot?#iefix")
        format("embedded-opentype"),
        url("../font/webfonts/fa-regular-400.woff2")
        format("woff2"),
        url("../font/webfonts/fa-regular-400.woff")
        format("woff"),
        url("../font/webfonts/fa-regular-400.ttf")
        format("truetype"),
        url("../font/webfonts/fa-regular-400.svg#fontawesome")
        format("svg");
}
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    src: url("../font/webfonts/fa-solid-900.eot");
    src: url("../font/webfonts/fa-solid-900.eot?#iefix")
        format("embedded-opentype"),
        url("../font/webfonts/fa-solid-900.woff2")
        format("woff2"),
        url("../font/webfonts/fa-solid-900.woff")
        format("woff"),
        url("../font/webfonts/fa-solid-900.ttf")
        format("truetype"),
        url("../font/webfonts/fa-solid-900.svg#fontawesome")
        format("svg");
}
