*{
    padding: 0;
    margin: 0;
    font-family: roboto, serif;
}
*::selection {
    background: transparent;
    color: #1763B8;
}
body{
    background: #F3F0EB;
}
.about{
    display: none;
    width: 940px;
    padding: 30px 30px 30px;
    border: 1px solid #E5E6E7;
    height: max-content;
    border-radius: 7px;
    background: white;
    float: left;
}
#header, #body{
    display: block;
}
#footer{
    float: left;
    width: 100%;
    height: 50px;
}
.footerWrapper{
    margin-top: 10px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.copyright{
    width: 300px;
    float: left;
    height: 50px;
    color: grey;
    font-size: 14px;
}
#footerMenu{
    width: 350px;
    float: left;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.itemFMenu{
    float: right;
    color: grey;
    font-size: 14px;
    text-align: right;
    margin-left: 20px;
}
.itemFMenu:hover{
    color: #1763B8;
    cursor: pointer;
}
#eventImgContainer{
    width: 100%;
    height: auto;
    float: left;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: none;
}
@font-face {
    font-family: roboto;
    src: url("../font/Roboto-Regular.ttf");
}
@font-face {
    font-family: roboto-medium;
    src: url("../font/Roboto-Medium.ttf");
}
@keyframes fadeinBtnImg {
    0% { opacity: 0; }
    100%   { opacity: .7; }
}
@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}
@keyframes loading {
    0%   { width: 0   }
    100% { width: 100% }
}
.fadeIn{
    animation: fadein 2s;
}
.fadeIn1s{
    animation: fadein 1s;
}
.fadeIn500ms{
    animation: fadein 500ms;
}
.loadingProgress{
    height: 5px;
    width: 100%;
    float: left;
    background: #1763B8;
    animation: loading 2s;
}
.headerWrapper{
    width: 100%;
    min-width: 1040px;
    height: 130px;
    float: left;
    background: white;
    border-bottom: 1px solid #E5E6E7;
}
.header{
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.headerTitle{
    width: 100%;
    height: 70px;
    float: left;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 18.5px;
    line-height: 70px;
}
.headerTitle2{
    width: 100%;
    height: 20px;
    float: left;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 7.3px;
    line-height: 0;
}
.menu{
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    height: 40px;
    background: white;
    text-align: left;
    line-height: 40px;
    font-family: roboto-medium, serif;
    font-size: 14px;
    text-transform: uppercase;
}
.menu:hover{
    background: #F5F5F5;
    cursor: hand;
    transition-duration: .2s;
}
.mActive{
    color: #1763B8;
    height: 38px;
    border-bottom: 2px solid #1763B8;
}
.bodyWrapper{
    width: 100%;
    height: max-content;
    float: left;
    margin-top: 20px;
}
.body{
    padding-left: 20px;
    padding-right: 20px;
    width: 1000px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}
.mainContent{
    width: 650px;
    border: 1px solid #E5E6E7;
    min-height: 600px;
    height: max-content;
    border-radius: 7px;
    background: white;
    float: left;
    padding-bottom: 30px;
}
.rightContent{
    width: 326px;
    height: 420px;
    margin-left: 20px;
    background: white;
    border: 1px solid #E5E6E7;
    border-radius: 7px;
    float: left;
    overflow: hidden;
}
.slideshowImg2{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    float: left;
    width: 650px;
}
.slideshowImg{
    display: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    float: left;
    margin-left: -650px;
    width: 650px;
    cursor: pointer;
}
.slideshow{
    width: 100%;
    height: auto;
    float: left;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.btnPrev{
    width: 35px;
    height: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: black;
    position: absolute;
    margin-top: 150px;
    opacity: 0.7;
    color: white;
    line-height: 35px;
    text-align: center;
    display: none;
    /*animation: fadeinBtnImg 1s;*/
}
.btnNext{
    width: 35px;
    height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 615px;
    background: black;
    position: absolute;
    margin-top: 150px;
    opacity: 0.7;
    color: white;
    line-height: 35px;
    text-align: center;
    display: none;
    /*animation: fadeinBtnImg 1s;*/
}
.btnNext:hover{
    cursor: pointer;
}
.btnPrev:hover{
    cursor: pointer;
}
.titleM{
    font-size: 30px;
    font-family: roboto-medium, sans-serif;
    float: left;
    padding: 20px 40px 10px 40px;
    width: 570px;
}
.fillM{
    float: left;
    padding: 20px 40px 10px 40px;
    width: 570px;
    text-align: justify;
}
.eventKet{
    color: grey;
    width: 100%;
    padding: 2px;
    float: left;
    font-size: 12px;
}
.maps{
    border:0;
    width: 570px;
    height: 400px;
    margin: 20px 40px 10px 40px;
    float: left;
}
.titleR{
    float: left;
    width: 200px;
    color: grey;
    padding: 20px 0 20px 25px;
    cursor: pointer;
}
.titleR:hover{
    color: #1763B8;
}
.btnSearch{
    float: right;
    padding: 27px 10px 13px 0;
    color: grey;
    font-size: 14px;
}
.btnAddEvent{
    padding: 15px 25px 13px 10px;
    color: grey;
    float: right;
    font-family: roboto-medium, sans-serif;
    font-size: 25px;
}
.btnAddEvent:hover, .btnSearch:hover{
    color: #1763B8;
    cursor: pointer;
}
.wrapperSearch{
    width: 100%;
    height: 40px;
    float: left;
    margin-bottom: 20px;
    display: none;
}
.fieldSearch{
    width: 275px;
    padding: 10px;
    border: 1px solid #E5E6E7;
    margin-left: 25px;
}
.itemMenuR{
    padding: 5px 0 7px 25px;
    width: 100%;
    float: left;
    cursor: pointer;
    color: grey;
    font-size: 14px;
}
.itemMenuR:hover{
    background:  #F5F5F5;
}
.fillR{
    float: left;
    width: 100%;
    height: 360px;
    overflow: auto;
}
.eventWrapper{
    width: 270px;
    height: 50px;
    float: left;
    /*background: red;*/
    margin-left: 25px;
    margin-bottom: 20px;
}
.eventWrapper:hover{
    cursor: pointer;
}
.eventTidakTersedia{
    width: 80%;
    padding: 20px;
    text-align: center;
    color: grey;
    font-size: 14px;
    margin: auto;
}
.eDateW{
    width: 50px;
    height: 50px;
    float: left;
    /*border-radius: 5px;*/
    border: 2px solid #57585A;
    overflow: hidden;
    color: #57585A;
}
.eDate{
    width: 100%;
    height: 30px;
    line-height: 26px;
    float: left;
    background: #57585A;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    /*letter-spacing: 3px;*/
}
.eMonth{
    width: 100%;
    height: 20px;
    line-height: 18px;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.eTitle{
    width: 200px;
    float: left;
    padding-left: 15px;
    height: 25px;
    margin-top: -3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.eDate2{
    width: 200px;
    float: left;
    padding-left: 15px;
    color: grey;
    font-size: 11px;
    height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.eventGaris{
    width: 190px;
    margin-left: 95px;
    margin-top: 5px;
    margin-bottom: 20px;
    float: left;
    border-bottom: 1px #E5E6E7 solid;
}
.dialog{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background: rgba(0,0,0,.5);
    display: none;
}
.dialogBox{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: max-content;
    padding-bottom: 25px;
    background: white;
    opacity: 1;
    border-radius: 5px;
}
.flex{
    width: 200px;
    height: 55px;
    float: left;
}
.pointer{
    cursor: pointer;
}
.white{
    background: #FFFFFF;
}
.mr10{
    margin-right: 10px
}
.titleDialog{
    padding: 20px;
    width: auto;
    border-bottom: 1px rgba(0,0,0,.12) solid;
    font-size: 24px;
    font-family: roboto-medium, sans-serif;
}
.divider{
    width: 100%;
    height: 1px;
    float: left;
}
.textfield{
    /*float: left;*/
    width: 100%;
    padding: 5px;
    border: 1px rgba(0,0,0,.12) solid;
    font-size: 14px;
    margin-top: 5px;
}
label{
    font-size: 12px;
    color: grey;
}
.fillDialog{
    padding: 20px 20px 0;
    width: auto;
    overflow: auto;
    max-height: 120px;
}
.btnTambah{
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: roboto-medium, sans-serif;
    background: #42a5f5;
    cursor: pointer;
    float: right;
    color: white;
    width: max-content;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 3px;
}
.btnBatal{
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: roboto-medium, sans-serif;
    /*background: #42a5f5;*/
    cursor: pointer;
    float: right;
    color: #42a5f5;
    width: max-content;
    font-size: 14px;
    border-radius: 3px;
}
.btnTambah:hover{
    opacity: .8;
}
.btnBatal:hover{
    background: #ECF4FE;
}
/*for about content*/
h4 {
    font-size: 18px;
    letter-spacing: 2px;
}

.modifP{
    font-size: 33px;
    letter-spacing: 5px;
    float: left;
    width: 100%;
    text-align: center;
}

.modifP2{
    letter-spacing: 1px;
    padding-bottom: 10px;
    float: left;
}
.red{
    background: red;
}

strong {
    font-weight: 600;
}

hr {
    border-color: rgba(0,0,0,.05);
    margin: 30px;
}

.text-center {
    text-align: center;
}

.itemGroup {
    width: 30.3333%;
    display: inline-block;
    float: left;
    margin: 10px 10px 20px;
}

.itemAbout {
    width: 49.3333%;
    display: inline-block;
    float: left;
    padding-bottom: 50px;
    /*background-color: #1763B8;*/
}

.loginForm {
    width: 395px;
    border: 1px solid #E5E6E7;
    height: max-content;
    border-radius: 7px;
    float: left;
    padding: 20px;
    /*background: url(img/bg-abstract.png) 0 0 no-repeat #42a5f5;*/
    /*background-attachment: fixed;*/
}

.contactContent{
    width: 100%;
    height: max-content;
}

.itemContact-right {
    width: 57.7777%;
    border: 1px solid #E5E6E7;
    height: 420px;
    padding: 10px;
    float: left;
    background-color: white;
    color: #42a5f5;
}

.itemContact-left {
    width: 33.3333%;
    height: 420px;
    padding: 10px;
    float: right;
    background-color: #42a5f5;
    color: white;
}

.rounded {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.red{
    background: red;
}
.aboutLogoWrapper{
    width: 414px;
    height: 160px;
    border: 3px #263238 solid;
    float: left;
    border-radius: 5px;
    margin-left: 5px;
    /*background: #1763B8;*/
}